<div class="container mb-5">
  {{#each blogs}}
  <div class="blogs">
    <br>
    <center> <a href="/blogpost/{{this.slug}}">
        <h5 style="margin: bottom;"> {{this.title}} </h5>
      </a> </center>
  </div>
  {{/each}}
</div>
<h3 style="text-align: center; background-color:blueviolet;padding: 5px;">Abhi the Coder Blogs ✌
  Page</h3>